<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEFPUKfO7Pd-4kEMYxliOjmNK3_wtRW5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>948579996548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.exotic</string>
	<key>PROJECT_ID</key>
	<string>exotic-1b756</string>
	<key>STORAGE_BUCKET</key>
	<string>exotic-1b756.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948579996548:ios:8f35c77f83d8fb603283d1</string>
</dict>
</plist>